[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "dataquieR"]
	path = dataquieR
	url = https://gitlab.com/libreumg/dataquier
[submodule "flexsiteboard"]
	path = flexsiteboard
	url = https://gitlab.com/libreumg/flexsiteboard
